{% extends "layout.html" %}
{% block title %}Leci Internships{% endblock %}
{% block page %}
<!-- <nav class="blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Home</a>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a href="/">Welcome</a></li>
          <li><a href="/static/users">Users Jinja</a></li>
          </ul><ul class="right" style="margin-right: 10px;">
          <li>
            <form class="col s12" method="POST" action="/home/logout"> 
            <button class="blue" style="border: 0; color: white;"  type="submit" name="logout">Logout</button>
            </form>
          </li>
        </ul>
    </div>
  </div>
</nav> -->
Home
<ul class="right" style="margin-right: 10px;">
<li>
  <form class="col s12" method="POST" action="/home/logout"> 
  <button class="blue" style="border: 0; color: white;"  type="submit" name="logout">Logout</button>
  </form>
</li>
{% endblock %}


{% block content %}
  <body style="background-color: aliceblue;">

    <div class="row" style="margin-left: -25px;">
      <p style=" font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
      Welcome {{admin}}.
      </p>
      <p>Select an internship or create an internship to begin. Interns will appearn after selection.</p>
    </div>

    <table style=" margin-left: -125px;">
      <thead>
        <tr>
          <th class="col m9;">All Internships</th>
          <th class="col m2;">Selected Internship</th>
          <th class="col m1;">Options</th>
          <th></th> <th></th> <th></th>
          <!-- weird tempt formatting -->
          <th></th>
        </tr>
      </thead>
    </table>
      
    <div class="row" style="margin-left: 200px;">
      <div class="internship data" style="display: inline-block; margin-left: 25px;">
        <!-- scrollbar stuff -->
        <div class="col m2 list-container collection" style="max-height: 84vh; margin-left: -350px; width: 30%;"  >

            {% for scroller in scrollers%}
                {%if scroller.id == chosen.id %}
                <div class="list-item">
                    <a href="/home/{{ scroller.id }}" id="ship_{{ scroller.id }}" class="collection-item"style="border: 1px black solid; color: lightskyblue;">
                      {{ scroller.name }}</a>
                </div>
                {% else %}
                <div class="list-item" style="width: 109%; margin-left: -5%;">
                    <a href="/home/{{ scroller.id }}" id="ship_{{ scroller.id }}" class="collection-item" style="background-color: rgb(96, 188, 246); color: white; border: 1px black solid;" >
                    {{ scroller.name }}</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Card div has internship info -->
        <div class="col m4" style="margin-left: -20px;"> 
          {% if chosen == -1 %}
            <div class="card" style="padding: 20px; margin-left: -50px; width: 115%; background-color:  white">  
            {% else %}
            <div class="card" style="padding: 20px; margin-left: -50px; width: 115%; background-color:  rgb(96, 188, 246); color: white">  
              <span class="card-title">{{chosen.name}} </span>
              <p>Name: {{ chosen.name }}</p>
              <p>Description: {{ chosen.desc }}</p>
              <p>Location: {{ chosen.location }}</p>
              <p>Date and Time: {{ chosen.date_time }}</p>
              <p>Availability: {{ chosen.openspots }}</p>
              <p>Enrollment: {{ chosen.enrolled }}</p>

            {% endif %}
          </div>
        </div>

        <!-- update buttons -->
        <div class="col m6 options" style="width: 65%; display: inline-block; margin-left: 5px;;">
          <div class="card" style="padding: 10px; display: inline-block;">
            <table>
              <tr><th>Options</th></tr>
              <!-- options to edit the internship is by row -->
              <tr><td>
                <form class="col s6" method="POST" action="/update_name/{{chosen.id}}" >
                  <input name="name" type="text" class="validate" placeholder="CAL Summer 2023" style="height: 5%;">
                  <label for="Rename Internship">Rename Internship</label>
                  <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Submit</button>
                </form>
                
                <form class="col s6" method="POST" action="/update_desc/{{chosen.id}}">
                  <input name="desc" type="text" class="validate" placeholder="Internship For Management Students." style="height: 5%;">
                  <label for="Change Description">Change Description</label>
                  <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Submit</button>
                </form>
              </td></tr>

              <tr><td>
                <form class="col s6" method="POST" action="/update_location/{{chosen.id}}">
                  <input name="location" type="text" class="validate" placeholder="Earth" style="height: 5%;">
                  <label for="Change Location">Change Location</label>
                  <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Submit</button>
                </form>
                
                <form class="col s6" method="POST" action="/update_datetime/{{chosen.id}}">

                  <input name="dtime" type="text" class="validate" placeholder="year/month/date" style="height: 5%;">

                  <label for="Change Date and Time">Change Date and Time</label>
                  <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Submit</button>
                </form>
              </td></tr>

              <tr><td> 
                <form class="col s6" method="POST" action="/update_openspots/{{chosen.id}}">
                  <input name="openspots" type="text" class="validate" style="height: 5%;">
                  <label for="Change Availability">Change Availability</label>
                  <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Submit</button>
                </form> 
                
                <form class="col s6" method="DELETE" action="/del_internship/{{chosen.id}}">
                  <p style="margin-left: 30px;">Delete Internship</p>
                  <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Delete</button>
                </form>
              </td></tr>
      
            </table>
          </div>
        </div>
      </div>
    </div>
      
    <div>
      <div class="col s8">
        {% if attendees != -1%}
        {% if chosen != -1%}
      <p style="font-size: larger;">Interns attending selected internship.</p>
        <table>
        <thead>
          <tr>
            <th>ID</th><th>Name</th>
          </tr>
        </thead>
        <tbody style="background-color: lightcoral;">
            {%for attendee in attendees%}
              <tr>
                  <td class="col s3">{{attendee.intern_id}}</td>
                  <td class="col s7">{{attendee.name}}</td>
                  <td class="col s2">
                    <form  method="POST" action="/remove_intern/{{chosen.id}}/{{attendee.intern_id}}">
                      <!-- <p style="margin-left: 30px;">Remove Intern</p> -->
                      <button class="btn waves-effect waves-light right blue col s6" type="submit" name="action" style="scale: 70%;">Remove Intern</button>
                    </form>
                  </td>
              </tr>
            {%endfor%}
          <tbody>
        </table>
        {%endif%}
        {%endif%}
      </div>

      <div class="row" style="border-bottom: 1px black solid; margin-top: 50px;"></div>

      <div class="col s8">
        <p>Create a new Internship Here.</p>
        <form class="col s10" method="POST" action="/home">
          
          <!-- <div class="row"> -->
          <div class="row">
            <div class="input-field col s4">
              <input name="name" type="text" class="validate">
              <label for="Name">Name</label>
            </div>
            <div class="input-field col s8">
              <input name="desc" type="text" class="validate">
              <label for="Description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input name="location" type="text" class="validate">
              <label for="Location">Location</label>
            </div>
            <div class="input-field col s3">
              <input placeholder="2023/10/10 9am" name="date_time" type="text" class="validate">
              <label for="Date and Time">Date and Time</label>
            </div>
            <div class="input-field col s3">
              <input name="openspots" type="text" class="validate">
              <label for="Open Spots">Open Spots</label>
            </div>
              
            <div class="row">
              <div class="input-field col s12">
                <button class="btn waves-effect waves-light right blue" type="submit" name="action">Submit</button>
              </div>
            </div> 
          </div>
        </form>
      </div>
    </div>

    <div class="row" style="background-color: white; padding: 15px;">
      <!-- was supposed to not show table if -1 but still shows -->
      {% if chosen != -1 %}
        <table>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Department</th>
              <th>Course</th>
          </tr>
            {% for intern in interns %}
              <tr>
                  <td>{{ intern.school_id }}</td>
                  <td>{{ intern.name }}</td>
                  <td>{{ intern.dept }}</td>
                  <td>{{ intern.course }}</td>
                  <td>
                    <form method="POST" action="/add_intern/{{chosen.id}}">
                      <p>Admit to Internship</p>
                      <input  name="ship" type="hidden" value="{{chosen.id}}" class="validate">
                      <input  name="id" type="hidden" value="{{intern.school_id}}" class="validate">
                      <button class="btn waves-effect waves-light right blue col s4" type="submit" name="action">Add Intern</button>
                    </form>
                  </td>
              </tr>
          {% endfor %}
        </table>
      {%endif%}
    </div>

  </body>      

{% endblock %}

