{% extends "layout.html" %}
{% block title %}Leci Internships{% endblock %}
{% block page %}
<nav class="blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Sign Up</a>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a href="/">Welcome</a></li>
          <li><a href="/login">Login</a></li>
          <!-- <li><a href="/home">Home</a></li> -->
          <li><a href="/users">Apply Here</a></li>
        </ul>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
    <div class="row">
        <p>
            signup below</p>
    </div>

    <div class="row">
      <form class="col s12" method="POST" action="/signup">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Username" name="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="input-field col s6">
          <input placeholder="Name" name="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right blue" type="submit" name="action">Submit</button>
          </div>
        </div> 

      </form>
    </div>

    <!-- <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div> -->

{% endblock %}
