{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}
<nav class="blue">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Apply for an Internship!</a>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          
          <li><a href="/">Welcome</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/home">Home</a></li>
          <!-- <li><a href="/users">a</a></li> -->
          </ul>

    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
<body style="background-color: aliceblue;">
  
  <div class="row">
    <p style="font-size: larger;">Apply Today!</p>
    <p>An internship is a GREAT way to get experience! Students apply below.</p>
  </div>

  <div class="row" style="display: inline-block;">
    <div class="col s8" style="padding: 30px; background-color: white;">
      <form class="col s12" method="POST" action="/users/interns">
        <div class="row" >
          
          <div class="input-field col s5">
            <input placeholder="Robert Jones" name="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>

          <div class="input-field col s2">
            <input placeholder="816000111" name="school_id" type="text" class="validate">
            <label for="School ID">School ID</label>
          </div>

          <div class="input-field col s4">
            <input placeholder="DCIT" name="dept" type="text" class="validate">
            <label for="Department">Department</label>
          </div>
        </div>

        <div class="row" >
          <div class="input-field col s7">
            <input placeholder="COMP 1602" name="course" type="text" class="validate">
            <label for="Courses">Courses</label>
          </div>

          <div class="input-field col s1">
            <input placeholder="3" name="year" type="text" class="validate">
            <label for="Year">Year</label>
          </div>

          <div class="input-field col s1">
            <input placeholder="3.7" name="GPA" type="text" class="validate">
            <label for="GPA">GPA</label>
          </div>
          <div class="col s2">
            <div class="input-field">
              <button class="btn waves-effect waves-light right blue" type="submit" name="action">Submit</button>
            </div>
          </div> 
        </div>
      </form>
      
      <p>Please ensure ALL information is correct, you cannot edit after submission.</p>
    </div>

    <div class="col s1" style="padding: 30px;"></div>
    <div class="col s3" style="padding: 30;">
      <div style="background-image: url('https://sta.uwi.edu/admissions/images/undergrad.jpg'); height: 40vh; scale: 1.5; margin-left: 10px;;"></div>
    </div>
  </div>

</body>
        

{% endblock %}
